// ----- POSITIONING ---------------
.pos {
	&-s {
		position: static;
	}
	&-a {
		position: absolute;
	}
	&-r {
		position: relative;
	}
	&-f {
		position: fixed;
	}
}

// ----- Z-INDEX ---------------
.z;

// ----- DISPLAY ---------------
.d {
	&-n {
		display: none;
	}
	&-b {
		display: block;
	}
	&-i {
		display: inline;
	}
	&-ib {
		display: inline-block;
	}
	&-tb {
		display: table;
	}
	&-tbcl {
		display: table-column;
	}
	&-tbr {
		display: table-row;
	}
	&-tbc {
		display: table-cell;
	}
}

// ----- BOX-SIZING ---------------
.bxz {
	&-cb {
		box-sizing: content-box;
	}
	&-bb {
		box-sizing: border-box;
	}
}

// ----- FLOAT ---------------
.fl {
	float:none;
	&-l {
		float: left;
	}
	&-r {
		float: right;
	}
}

// ----- WIDTH ---------------
.w {

}

// ----- HEIGHT ---------------
.h {
	
}

// ----- PADDING ---------------
.p {

}

// ----- MARGIN ---------------
.m {

}

// ----- OVERFLOW ---------------
.ov {
	overflow: hidden;
	&-v {
		overflow: visible;
	}
	&-h {
		overflow: hidden;
	}
	&-s {
		overflow: scroll;
	}
	&-a {
		overflow: auto;
	}
}

// ----- CLEAR ---------------
.cl {
	clear: both;
	&-n {
		clear: none;
	}
	&-l {
		clear: left;
	}
	&-r {
		clear: right;
	}
	&-b {
		clear: both;
	}
}

// ----- FONT ---------------
// font size
.fz;
// font family
.ff;
// font-weight
.fw {
	font-weight: normal;
	&-b {
		font-weight: bold;
	}
}

// ----- LINE-HEIGHT ---------------
.lh {

}

// ----- COLOR ---------------
.c {

}

// ----- VERTICAL-ALIGN ---------------
.va {
	vertical-align: top;
	&-sup {
		vertical-align: super;
	}
	&-t {
		vertical-align: top;
	}
	&-tt {
		vertical-align: text-top;
	}
	&-m {
		vertical-align: middle;
	}
	&-bl {
		vertical-align: baseline;
	}
	&-b {
		vertical-align: bottom;
	}
	&-tb {
		vertical-align: text-bottom;
	}
	&-sub {
		vertical-align: sub;
	}
}

// ----- LIST ---------------
.lis {
	&-n {
		list-style: none;
	}
	&p {
		&-i {
			list-style-position: inside;
		}
		&-o {
			list-style-position: outside;
		}
	}
	&t {
		&-n {
			list-style-type: none;
		}
		&-d {
			list-style-type: disc;
		}
		&-c {
			list-style-type: circle;
		}
		&-s {
			list-style-type: square;
		}
		&-dc {
			list-style-type: decimal;
		}
		&-dclz {
			list-style-type: decimal-leading-zero;
		}
		&-lr {
			list-style-type: lower-roman;
		}
		&-ur {
			list-style-type: upper-roman;
		}
	}
	&i {
		&-n {
			list-style-image: none;
		}
	}
}

// ----- WHITE-SPACE ---------------
.whs {

	&-n {
		white-space: normal;
	}  
	&-p {
		white-space: pre;
	}  
	&-nw {
		white-space: nowrap;
	}  
	&-pw {
		white-space: pre-wrap;
	}  
	&-pl {
		white-space: pre-line;
	}  
	&c {
		&-n {
			white-space-collapse: normal;
		}
		&-k {
			white-space-collapse: keep-all;
		}
		&-l {
			white-space-collapse: loose;
		}
		&-bs {
			white-space-collapse: break-strict;
		}
		&-ba {
			white-space-collapse: break-all;
		}
	}
}

// ----- WORD-WRAP ---------------
.wow {
	word-wrap: normal;
	&-n {
		word-wrap: none;
	}
	&-u {
		word-wrap: unrestricted;
	}
	&-s {
		word-wrap: suppress;
	}
	&-b {
		word-wrap: break-word;
	}
}

// ----- WORD-BREAK ---------------
.wob {
	&-n {
		word-break: normal;
	}
	&-k {
		word-break: keep-all;
	}
	&-ba {
		word-break: break-all;
	}
}

// ----- CURSOR ---------------
.cur {
	&-a {
		cursor: auto;
	}
	&-d {
		cursor: default;
	}
	&-c {
		cursor: crosshair;
	}
	&-ha {
		cursor: hand;
	}
	&-he {
		cursor: help;
	}
	&-m {
		cursor: move;
	}
	&-p {
		cursor: pointer;
	}
	&-t {
		cursor: text;
	}
}

// ----- BACKGROUND ---------------
.bg {

}

// ----- BORDER ---------------
.bd {

}

// ----- CONTENT ---------------
.cnt {

}

// ----- OPACITY ---------------
.op {

}

// ----- VISIBILITY ---------------
.v {

}
